
:root{
    --bs-body-font-size:1rem;
    --bs-body-font-weight:400;
    --bs-body-line-height:1.5
}

.text-li-color {
    color: #4A4A4A;
}

.text-register {
    color: #289BDE;
}
.text-course{
    color:#4A4A4A;
}
.bg-course{
    background-color: #FFFFFF;;
}
.text-color{
   color: #1D1D1D;
}
.bg-footer{
    background-color: #161616;
}
.btn-color{
    background-color:#289BDE;
}
.course{
    width: 600px;
height: 200px;

background-color:#FFFFFF ;
line-height: 24px;
}
.course img{
    width: 200px;
height: 200px;
left: 812px;
top: 1228px;

}
.course-content{


width: 397px;
height: 133px;


}
/* tablet device */
@media only screen and (min-width:768px) and{
    .heading{
        font-size: 40px; 
        font-weight:600;
        text-align: center;
        Line height:50px;


       
    }
    
    .paragraph{
        font-size: 16px;
        font-weight: 400;
        line-height:20px ;
        text-align: center;
    }
    .edubutton{
        width: 140px;
        height: 49px;
        box-sizing: border-box;
    }
    
}
/* mobile device */
@media only screen and (min-width:480) {
    
    .headingtwo{
        font-size:20px ;
        line-height: 30px;
        align-items: center;
        font-weight: 500;
    }
    .paragraphtwo{
        font-weight: 400;
        font-size: 12px;
        line-height: 10px;
        align-items: center;
    }
    .pro-button{
        width:93px;
        height: 24px;
        box-sizing: border-box;
    }
}